@{
    
}

<section id="main">
    <h1>Warrenty & Support</h1>
    <p>
        China K Maal Ki Koi Warrenty Nahi
    </p>

    <h1>Refund & Exchange</h1>
    <p>
        Kharida Howa Maal Wapis Nahi Hoga
    </p>

    <h1>Shipping Info</h1>
    <p>
        Original Price + 150
    </p>

    <h1>Privacy Policy</h1>
    <p>
        Apne Saamaan Ki Hifazat Khud Kare.
    </p>
</section>